{% extends "base.html" %}

{% block content %}

<div class="card" style="max-width:400px; margin:auto; text-align:center;">

<h2>🔑 Login</h2>

<form method="POST">

<input type="email" name="email" placeholder="Email" style="width:90%; padding:10px; margin:5px;"><br>

<input type="password" name="password" placeholder="Senha" style="width:90%; padding:10px; margin:5px;"><br>

<button type="submit" class="btn">Entrar</button>

</form>

<p><a href="/register">Criar Conta</a></p>

</div>

{% endblock %}
